@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #cdb4db;
  --text-color: #333232;
  --font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
.navbar {
  background-color: #e0e0e0 !important;
}
body,
p {
  background-color: #e0e0e0 !important;
  color: var(--text-color);
  font-family: var(--font-family);
}
main {
  color: var(--text-color);
  font-size: 18px;
  min-height: 70vh;
  font-family: inherit;
  padding-bottom: 20px;
}
.shadow-neuro {
  background: #e0e0e0 !important;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff !important;
}
.inward-neuro {
  background: #e0e0e0 !important;
  box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff !important;
}
/* Toastify css */
.Toastify__toast--success {
  background: #e6e7ee !important;
  color: #18634b;
  box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff !important;
  border: 00.0625rem solid #c0c7d3 !important;
  font-family: 'Nunito Sans' !important;
  font-weight: bold;
}
.Toastify__toast--error {
  background: #e6e7ee !important;
  color: #a91e2c;
  box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff !important;
  border: 00.0625rem solid #c0c7d3 !important;
  font-family: 'Nunito Sans' !important;
  font-weight: bolder;
}
.Toastify__close-button {
  display: none;
}
.Toastify__progress-bar {
  background-color: #31344b !important;
}
.navbar {
  border-bottom: 0.0625rem solid #c0c7d3 !important;
}
.navbar-brand {
  border-radius: 0.55rem !important;
  border: #d1d9e6 !important;
}
.nav-link {
  color: inherit !important;
  font-weight: 900 !important;
  font-size: 15px;
  outline: 0;
}
.dropdown-menu {
  background-color: #e0e0e0 !important;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}
.navbar-toggler {
  background-color: #e0e0e0 !important;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bebebe, inset -3px -3px 6px #ffffff;
}
.dropdown-item {
  font-size: 14px !important;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #e0e0e0 !important;
  color: var(--text-color) !important;
  box-shadow: inset 2px 2px 5px #bebebe, inset -3px -3px 6px #ffffff;
}
.dropdown-item.active {
  background-color: inherit !important;
  color: var(--text-color) !important;
  font-weight: 600 !important;
}
.ranking-card .card {
  border: none !important;
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}
.heading-button {
  background-color: var(--primary-color) !important;
  border-radius: 0% !important;
  border-color: var(--primary-color) !important;
  font-weight: 900;
  font-size: 35px !important;
  border-radius: 50px;
  background: #cdb4db;
  box-shadow: inset 5px 5px 10px #ae99ba, inset -5px -5px 10px #eccffc;
}

.department-list {
  margin-top: 15px;
}
.card-header {
  background-color: var(--primary-color) !important;
  border-radius: 25px 25px 0px 0px !important;
  color: white;
}

.card-img-top {
  width: 95% !important;
}
.department-list .department-name-card {
  width: 100% !important;
}
.department-list .displines-name-card {
  width: 100% !important;
}
.department-list .contact-person-card {
  width: 100% !important;
}
.department-list .card {
  background-color: #e0e0e0;
  border: none;
  border-radius: 25px;
}

.recruiter {
  background-color: var(--primary-color);
  color: #564e58 !important;
}
.react-datepicker-wrapper {
  display: block !important;
}
.footer {
  background: #e0e0e0;
  border-top: 0.0625rem solid #c0c7d3 !important;
}

/* Login Page */
.form-control,
.custom-select {
  background: #e0e0e0 !important;
  box-shadow: inset 2px 2px 5px #bebebe, inset -3px -3px 7px #ffffff !important;
}
.login-card {
  background: #e0e0e0 !important;
  border: none !important;
}
.btn-primary {
  background-color: #e0e0e0 !important;
  border-color: #e0e0e0 !important;
  color: #31344b !important;
  font-weight: 900 !important;
  -webkit-box-shadow: 2px 2px 5px #bebebe, -3px -3px 7px #ffffff;
  box-shadow: 2px 2px 5px #bebebe, -3px -3px 7px #ffffff;
}
.btn-primary:hover {
  color: #31344b;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  -webkit-box-shadow: inset 2px 2px 5px #bebebe, inset -3px -3px 7px #ffffff;
  box-shadow: inset 2px 2px 5px #bebebe, inset -3px -3px 7px #ffffff;
}
.btn:focus {
  outline: 0;
  -webkit-box-shadow: inset 2px 2px 5px #bebebe, inset -3px -3px 7px #ffffff;
  box-shadow: inset 2px 2px 5px #bebebe, inset -3px -3px 7px #ffffff;
}

/* Contact Details Page */
.icon {
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  background: #e0e0e0 !important;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff !important;
}
.map {
  border: none;
}
.contact-link {
  color: var(--text-color);
  font-weight: 600 !important;
}
.contact-link:hover {
  text-decoration: underline;
  font-weight: 700;
  color: var(--text-color);
}
