:root {
  --primary-color: #cdb4db;
  --text-color: #333232;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
.navbar {
  background-color: #e0e0e0 !important;
}
body {
  background-color: #e0e0e0 !important;
}

main {
  color: var(--text-color);
  font-size: 18px;
  min-height: 70vh;
  font-family: inherit;
}
.shadow-neuro {
  background: #e0e0e0 !important;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff !important;
}
.sticky-nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 100;
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;
}
.navbar-brand {
  border-radius: 0.55rem !important;
  border: #d1d9e6 !important;
}
.nav-link {
  color: inherit !important;
  font-weight: 900 !important;
  font-size: 15px;
  outline: 0;
}

.dropdown-menu {
  background-color: #e0e0e0 !important;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}

.dropdown-item {
  font-size: 14px !important;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #e0e0e0 !important;
  box-shadow: inset 2px 2px 5px #bebebe, inset -3px -3px 6px #ffffff;
}
.dropdown-item.active {
  background-color: inherit !important;
  color: var(--text-color) !important;
  font-weight: 600 !important;
}

.ranking-card .card .card-header {
  background-color: var(--primary-color);
  color: white;
}
.ranking-card .card {
  border: none !important;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}
.heading-button {
  background-color: var(--primary-color) !important;
  border-radius: 0% !important;
  border-color: var(--primary-color) !important;
  font-weight: 900;
  font-size: 35px !important;
}

.department-list {
  margin-top: 15px;
}
.department-list .card {
  border: 1px line black !important;
}
.card-header {
  background-color: var(--primary-color) !important;
  border-radius: 50px 50px 0px 0px !important;
}
.card-img-top {
  width: 95% !important;
}
.department-list .department-name-card {
  width: 100% !important;
}
.department-list .displines-name-card {
  width: 100% !important;
}
.department-list .contact-person-card {
  width: 100% !important;
}
.department-list .card .card-header {
  color: white;
}
.map {
  border: none;
}
.recruiter {
  background-color: var(--primary-color);
  color: #564e58 !important;
}
.react-datepicker-wrapper {
  display: block !important;
}
.footer {
  border-top: 1px solid #333232;
}
