*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
main {
  width: 90%;
  margin: auto;
  margin-top: 100px;
}
.nav-link {
  padding: 0 10px 0 10px !important;
  color: inherit !important;
  font-weight: 700 !important;
}
